<!-- Data layer -->
<script type='text/javascript'>
	dataLayer = [{
	"timestamp":1618011814,
	"contentType":"story",
	"canonicalURL":"https:\/\/projects.seattletimes.com\/2021\/seattle-museum-guide-visit-exhibit-spring-gallery-venue-art-history-science-culture\/",
	"domain":"www.seattletimes.com",
	"post_id": 13294912,
	"author":"<%= json.project.author %>",
	"publishdate":"2021-04-10 06:00:00",
	"modifieddate":"2021-04-10 06:00:00",
	"title": "<%= json.project.title %>",
	"credit":"Seattle Times staff",
	"tags":"",
	"categories":"Seattle newcomer's guide",
	"galleryType":"standard",
	"age":0,
	"source":"ST-Projects",
	"meter":"on",
	"ads":"on",
	"allowComments":"on",
	"section_tier1":"entertainment",
	"section_tier2":"visual-arts",
	"sections_all":"entertainment|visual-arts|",
	"othersections":"",
	"internalTags":"Projects",
	"hasVisuals": true,
	"videos": 0,
	}];
</script>