@import "seattletimes";

#mgtitle {
  border: 70px solid;
  padding: 50px;
  border-image: url("./assets/frame-border.png") 15% round; 
  max-width: 630px;
  margin: 10% auto 0;
  @media @mobile, @tablet{
    padding: 20px;
    margin: 30px auto;
  }
}

#intro {
  margin: 0 auto;
  padding: 15px;
  // background-color: red;
  padding-bottom: 10px;
}

#frames {
  height: 100%;
  max-width: 630px;
  margin: 15% auto 5%;
  @media @mobile{
    margin: 0 auto;

  }
  
}

#visitors {
  width: 450px;
  height: 100%;
  margin: 0 auto;
  bottom: 5%;
  position: sticky;
  margin-top: -70px;
  @media @mobile{
    width: 100%;
    bottom: 2%;

  }
}

#visitors.img {
  width: 100%;
  height: 100%;
}




body {
  width: 100%;
  font-size: 19px;
  font-weight: 400;
  @media @mobile, @tablet{
    margin: 0;
  }
}

h1 {
  font-size: 68px;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 40px;
  font-family: 'Yeseva One', cursive;
  color: #12562a;
  animation: neon 1s ease-in-out infinite alternate;
  letter-spacing: 2px;
  @media @mobile {
    font-size: 35px;
  }
}

.graphic-hed {
  display: inline-block;
  left: 50%;
  margin-bottom: 0;
  margin-left: -193px;
  position: relative;
  width: 386px;
  font-family: "ff-dagny-web-pro", Helvetica Neue, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

/*-- Head content --*/
header.top {
  padding: 0 10px;

  

  .illo-byline{
    color: #70757c;
    font-family: "ff-dagny-web-pro", Helvetica Neue, Helvetica, sans-serif;
    font-style: italic;
    text-align: right;
    font-size: 12px;
  }
  .chatter{
    padding: 20px 0;
    max-width: 630px;
    margin: auto;
    .byline-pubdate{
      text-align: center;
      .byline {
        font-weight: bold;
        margin: 0;
        padding: 0 !important;
      }
      .pub-date {
        color: #70757c;
        font-style: italic;
        margin: 0;
      }
    }
  }
}




.no-results{
  display: none;
  text-align: center;
  background-color: #e0e0e0;
  max-width: 100%;
  height: 100px;
  margin: auto;
  line-height: 100px;
}
.credits {
  margin: 30px 0;
  font-family: "ff-dagny-web-pro", Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
}
.dont-miss{
  margin-bottom: 30px;
}

/*
.fans {
  position: relative;
  max-width: 700px;
  width: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transition: opacity .2s linear;
  pointer-events: none;

  @media @mobile {
    top: auto;
    left: 0;
    bottom: -110px;
    width: 100%;
  }

  &.hidden {
    opacity: 0;
  }

  .meter {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50%;
    max-width: 700px;
    background: @mariners-teal;
    background: linear-gradient(to right, @mariners-teal, transparent);
    color: white;
    text-transform: uppercase;
    padding: 8px 24px;
    font-family: @df-sans;
    font-weight: bold;
    font-size: 16px;

    @media @mobile {
      display: none;
    }
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;

    &.show {
      display: block;
    }
  }

  [data-fan="1"] {
    position: static;
  }
}*/
