@import "seattletimes";



/*-- Start intro styles --*/


// .section-header {
//   position: relative;
// }

// .header-arts {
//     background: rgb(229,214,255);
// background: linear-gradient(180deg, rgba(229,214,255,1) 0%, rgba(87,37,170,1) 100%);
// }

#mgtitle {
  border: 60px solid;
  padding: 15px;
  border-image: url("./assets/frame-border.png") 18% repeat;
  background-image: url("./assets/title-background.png");
  background-position: center;
  background-clip: border-box;
  background-repeat: repeat;
  background-size: 150%;
  max-width: 900px;
  margin: 3% auto 1%;
  @media @tablet{
    padding: 40px auto;
    margin: 5% auto 0;
    
  }
  @media @mobile{
    padding: 20px 0px;
    margin: 30px auto;
  }
}

#intro {
  margin: 0 auto;
  padding: 15px;
  padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
  background-color: #fbeadf;
}



#visitors {
  width: 450px;
  height: 100%;
  margin: 0 auto;
  margin-top: -70px;
  margin-bottom: -15px;
  @media @mobile{
    width: 100%;
    bottom: -2%;
  }
}


#visitors.img {
  width: 100%;
  height: 100%;
  
}

hr {
  border: solid #814c75 25px;
  margin-top: 0px;
 
}

#floor {
  position: sticky;
  bottom: 0px;
}

body {
  width: 100%;
  font-size: 19px;
  font-weight: 400;
  @media @mobile, @tablet{
    margin: 0;
  }
}

h1 {
  margin-top: 10px;
  font-size: 75px;
  text-align: center;
  margin-bottom: 0px;
  font-family: Syne;
  color: white;
  @media @tablet{
    font-size: 55px;
  }
  @media @mobile{
    font-size: 35px;
  }
}

h2.subhed {
  max-width: 400px;
  color: white;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  font-weight: 600;
  
  }  



/*-- Start SVG styles --*/

.graphic-hed {
  display: inline-block;
  left: 50%;
  margin-bottom: 0;
  margin-left: -193px;
  position: relative;
  width: 386px;
  font-family: "ff-dagny-web-pro", Helvetica Neue, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}


/*-- End SVG styles --*/

/*-- End intro styles --*/


/*-- Head content --*/
header.top {
 
  
  

  .illo-byline{
    color: #70757c;
    font-family: "ff-dagny-web-pro", Helvetica Neue, Helvetica, sans-serif;
    font-style: italic;
    text-align: right;
    font-size: 12px;
  }
  .chatter{
    padding: 20px 0;
    max-width: 630px;
    margin: auto;
    .byline-pubdate{
      text-align: center;
      .byline {
        font-weight: bold;
        margin: 0;
        padding: 0 !important;
      }
      .pub-date {
        color: #70757c;
        font-style: italic;
        margin: 0;
      }
    }
  }
}



/*-- Filter Menu --*/


.sticky{
  position: fixed;
  z-index: 1; //for ie11
  top: 0;
  width: 100%;
    padding: 0;
  
  
}
.sticky + .filters {
  padding-top: 102px;
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
  background-color: black;
  font-family: @df-sans;
  padding-left: 20px;
    padding-right: 20px;
height: 55px;
    
    @media @tablet {
        flex-wrap: wrap;
        padding-left: 10px;
        padding-right: 10px;
        height: 105px;
    }
    
    
    @media @mobile {
        height: 130px;
    }
}
    
    .filter-group {
        display: flex;
        align-items: center;
        height: 100%;
        
        @media @mobile, @tablet {
        display: block;
    }
    }
    
  .nav-header {
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin: 0;
      line-height: 100%;
      
      @media @mobile, @tablet {
          margin-top: 10px;
          margin-left: 12px;
          margin-bottom: -15px;
          text-align: left;
      }
  }

.nav-ender {
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 0;
      line-height: 100%;
    margin-left: 10px;
      a {
          color: white;
      }
      
      @media @mobile, @tablet {
          margin-top: -35px;
          margin-right: 10px;
          margin-left: 10px;
          text-align: left;
          font-size: 25px;
      }
  }

   .search {
     width:100%;
     border: none;
     font-size: 14px;
     background-color: white;
     
   }

  .advanced {
    border: none;
    padding: 3px 3px;
    background-color: white;
    width: 250px;
    margin-left: 10px;
      height: 30px;
      border: 1px solid black;
    @media @mobile, @tablet{
      width: 300px;
    
    }
      
    .display-flex;
    .justify-content(center);
    
    .clear-search{
      border: none;
      width: 10%;
      background-color: transparent;
      display: none;
    }
  }

    
    
  .categories {

    list-style-type: none;
    display: flex;
    text-align: center;
margin-left: 10px;
      
      @media @tablet, @mobile {
          margin-bottom: 5px;
          padding-inline-start: 0px;
      }
      
}
    
    .cat-label{
      display: inline-block;
    }
  
  button {
    background-color: white;
      width: 60px;
      padding: 0px 5px;
      color: @df-middle-gray;
        border: 1px solid black;
      cursor: pointer;
      font-size: 14px;
      height: 30px;
    
     
      @media @mobile, @tablet {
          padding: 0px 5px;
          width: 55px;
      }
     
    }
      
      
    .checked {
    border: 1px solid black;
    background-color: gray;
    color: white;
    }
  
  
  li {
    display: inline-block;
      margin: 0;
  }
    
    
          
/* end filter nav*/

/*start header sections*/


.section-header {
  position: relative;
}

.header-arts {
    background: rgb(224,115,146);
background: linear-gradient(180deg, rgba(224,115,146,1) 0%, rgba(156,89,125,1) 100%);
}

.header-cultural {
  background: rgb(159,199,166);
background: linear-gradient(180deg, rgba(159,199,166,1) 0%, rgba(64,113,73,1) 100%);
}

.header-historical {
  background: rgb(241,230,87);
background: linear-gradient(180deg, rgba(241,230,87,1) 0%, rgba(174,166,62,1) 100%);
}

.header-other {
    background: rgb(155,179,221);
background: linear-gradient(180deg, rgba(155,179,221,1) 0%, rgba(60,53,107,1) 100%);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    padding: 150px 0px 150px 0px;
    width: 100%;
    
    @media @tablet {
        
        padding: 70px 40px;
        }
    
    @media @mobile {
       padding: 50px 20px;
    }
}


.section-header-image {
   box-shadow: 2px 2px 3px black;
    
    @media @mobile, @tablet {
        position: static;
       
        }
}

.section-image-arts {
    width: 17%;
    order: 2;
    margin-left: 50px;
    
    @media @tablet {
        
       
        width: 18%;
    }
    
    @media @mobile {
        
     
       
        }
}

.section-image-cultural {
   width: 40%;
   margin-bottom: 30px;
    
    
    @media @tablet {
        width: 70%;
        
      margin-bottom: 0px;
        
    }
    
    @media @mobile {
        width: 90%;
        }
}

.section-image-historical {
    
    width: 35%;
    top: 57%;
    left: 57%;
    margin-bottom: 30px;
    
    @media @tablet {
        width: 70%;
      margin-bottom: 0px;
    }
    
    @media @mobile {
        width: 90%;
       
        }
}

.section-image-other {
    order: 2;
    width: 30%;
    top: 20%;
    left: 63%;
    margin-left: 40px;
    
    @media @tablet {
        width: 50%;
        margin-left: 0px;
        order: 0;
    }
    
    @media @mobile {
        width: 60%;
        
        }
}




.section-name {
    //font-family: Bitter;
    
    font-family: Syne;
  //font-family: Work Sans;
   // font-family: Literata;
   // font-family: Playfair Display;
text-transform: uppercase;
    font-size: 12vw;
    line-height: 90%;
    font-weight: 700;
    letter-spacing: 3px;
 // font-style: italic;
    color: white;
    margin-top: 40px;
    text-align: center;
    text-shadow: 2px 2px 3px black;
    @media @mobile, @tablet {
        width: 100%;
        margin-top: 50px;
        }

}

.visual-arts-name {
    margin-top: 0px;
    @media @mobile, @tablet {
        width: 100%;
        margin-top: 0px;
        }
}




.section-description {
    font-size: 30px;
    margin: 30px 0px 0px 0px;
    font-family: @df-sans;
    font-weight: bold;
    color: white;
    
   @media @mobile, @tablet {
       font-size: 20px;
       margin-left: 0;
    }

}

.arts-description {
    width: 50%;
    
    @media @tablet {
        width: 90%;
         margin-top: 20px;
    }
    
    @media @mobile {
        width: 90%;
         margin-top: 20px;
        }
}

.cultural-description {
    width: 50%;
   
   @media @mobile, @tablet {
        width: 90%;
         margin-top: 20px;
        }
}

.historical-description {
    width: 50%;
    
     @media @mobile, @tablet {
        width: 90%;
         margin-top: 20px;
        }
   
}

.other-description {
    width: 50%;

    @media @mobile, @tablet {
        width: 90%;
         margin-top: 20px;
        } 
}

/*testing background gradient possibility*/

.background-container-1, .background-container-2, .background-container-3, .background-container-4 {
    padding-top: 100px;
    padding-bottom: 50px;
    
    @media @mobile, @tablet {
        padding-top: 75px;
    }
}

.background-container-1 {
   
    background: rgb(255,206,220);
background: linear-gradient(180deg, rgba(255,206,220,1) 0%, rgba(224,115,146,1) 100%);
}

.background-container-2 {
    background: rgb(211,255,218);
background: linear-gradient(180deg, rgba(211,255,218,1) 0%, rgba(159,199,166,1) 100%);

}

.background-container-3 {
   background: rgb(255,248,157);
background: linear-gradient(180deg, rgba(255,248,157,1) 0%, rgba(241,230,87,1) 100%);
}

.background-container-4 {
    background: rgb(214,229,255);
background: linear-gradient(180deg, rgba(214,229,255,1) 0%, rgba(155,179,221,1) 100%);
}




/* EVENT BOX STYLINGS */



.event {
    
    font-size: 15px;
    font-family: @df-sans;
    width: 40%;
    margin: auto;
    background-color: white;
    margin-bottom: 50px;
    position: relative;
    
    @media @mobile, @tablet{
        width: 80%;
        
        }
    
    .cutline {
        font-size: 13px;
        font-style: italic;
        color: gray;
        padding-bottom: 30px;
    }
  
    
  .event-header{
    font-size: 18px;
    
 
    a {
      font-size: 30px;
      color: black;
      font-weight: 900;
        margin-bottom: 0px;
    } 
   
  }
    
    .museum-name {
        
        margin-bottom: 7px;
       
    }
    
    .visual-arts-link:hover {
        color: rgba(224,115,146,1);
    }
    
    .cultural-link:hover {
        color: rgba(159,199,166,1);
    }
    
    .historical-link:hover {
        color: rgba(241,230,87,1);
    }
    
    .other-link:hover {
        color: rgba(155,179,221,1);
    }
    
    .dates {
        margin-top: 0px;
      
    }
    
    .dates-2 {
        font-style: italic; 
    }
    
    
    .name {
        
      
    }
    
    .info {
        border-top: 1px solid gray;
        color: black;

      line-height: 150%;
     
    }
    
  .phone-address{
 
  }
    
    .details, .event-header, .event-price, .info, .expand, .chevs, .cutline {
        width: 90%;
        margin: auto;
        
    }
    
    .fa-dollar-sign, .fa-phone-alt, .fa-map-marker-alt, .fa-people-arrows, .fa-calendar-alt {
        
        font-size: 13px;
        color: black;
        margin-right: 3px;
      
    }

    .fa-dollar-sign {
        margin-left: 0px;
    }
    
    .people-watch-1 {
        position: absolute;
        width: 15%;
        left: -23%;
        top: 65%;
        
         @media @mobile, @tablet{
        display: none;;
        
        }
    }
        
        .people-watch-2 {
        position: absolute;
        width: 18%;
        left: 110%;
        top: 70%;
        
         @media @mobile, @tablet{
        display: none;
        
        }
        
    }
}
    
   


/*END EVENT BOX STYLINGS */



.event:last-of-type{
    
    margin-bottom: 0px;
    
}



.box {
    transition: box-shadow 0.5s;
}

.box:hover {
      // border: 2px solid black;
      cursor: pointer;
         box-shadow: 15px 15px;
    } 


.chevs {
  font-size: 17px;
    line-height: 5%;
  text-align: left;
  color: black;
    font-weight: bold;
    padding: -10px 0px 5px 0px;
   
  @media @mobile { bottom: 20px; }

  i {
    display: inline;
     

  }

  .close {
    display: none;
  }
  .read {
    display: block;
  }

  &.selected {
    .close {
      display: block;
    }
    .read {
      display: none;
    }
  }
}

.chevs-festivals {
        background-color: white;
}

.chevs-lights {
    
        background-color: white;
}

.chevs-markets {
    background-color: white;
}

.chevs-parties {
    background-color: white;
}

.expand {
    display: none;
    position: relative;
    font-size: 18px;
    max-width: 960px;
    border-top: 1px solid gray;
    margin-bottom: 25px;

    &.noPadding {
      @media @mobile {
        padding: 0;
      }
    }
  }

.expand p:first-of-type::first-letter {
    font-size: 50px;
    text-transform: uppercase;
    float: left;
    font-weight: bold;
    margin-right: 5px;
    margin-top: -10px;
    margin-bottom: -30px;
}

.author {
    text-align: right;
    font-style: italic;
}

.selected:hover { 
    cursor: pointer; 
}

.collapse:hover {
    cursor: pointer;
}

.collapse {

    background-color: @df-middle-gray;
    padding: 10px 0 10px 0;
    color: white;
    border-radius: 15px;
}

.no-results{
  display: none;
  text-align: center;
  background-color: #e0e0e0;
  max-width: 100%;
  height: 100px;
  margin: auto;
  line-height: 100px;
}
.credits {
  margin: 30px 0;
  font-family: "ff-dagny-web-pro", Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;

  @media @mobile {
    padding: 0 20px;
    text-align: left;
  }
}
.dont-miss{
  margin-bottom: 30px;
}

/*
.fans {
  position: relative;
  max-width: 700px;
  width: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transition: opacity .2s linear;
  pointer-events: none;

  @media @mobile {
    top: auto;
    left: 0;
    bottom: -110px;
    width: 100%;
  }

  &.hidden {
    opacity: 0;
  }

  .meter {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50%;
    max-width: 700px;
    background: @mariners-teal;
    background: linear-gradient(to right, @mariners-teal, transparent);
    color: white;
    text-transform: uppercase;
    padding: 8px 24px;
    font-family: @df-sans;
    font-weight: bold;
    font-size: 16px;

    @media @mobile {
      display: none;
    }
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;

    &.show {
      display: block;
    }
  }

  [data-fan="1"] {
    position: static;
  }
}*/

.ad {
  background-color: black;
  padding: 16px 0;
  margin: 0;
}

.ad-white {
  padding: 16px 0;
}

.image {
  max-width: 800px;
  margin: auto;
  .flex(1);
  position: relative;
  padding-bottom: 600px;

  @media @mobile {
    padding-bottom: 300px;
  }

  .background, .overlay {
    position: absolute;
    width: 100%;
    max-width: 800px;
  }
}

.overlay {
  margin: auto;
  height: 0;
  padding-bottom: percentage(708.4 / 1277.5);

  svg {
    fill: #fbeadf;
    opacity: .1;
    position: absolute;
    top: 0;
    left: -15%;
    width: 130%;
    height: 135%;
  }
}

.st-overlay:hover {
  fill: #000000;
  opacity: .5;
  cursor: pointer;
}

.clear {
  clear:both;
  display: block;
}

.comments {
  padding: 0 10px;
  max-width: 960px;
  margin: auto;
}