<!doctype html>
<html lang="en-US">

<head>
    <title>
        <%= json.project.title %>
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Safari, you're the worst -->
    <meta name='format-detection' content='telephone=no'>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Yeseva+One&display=swap" rel="stylesheet">
    <%= t.include("partials/_head.html", grunt.data.json) %>
        <% if (json.project.production && !json.project.embedded) { %>
            <%= t.include("partials/_dataLayer.html") %>
                <%= t.include("partials/_gtm.html") %>
                    <% } %>
</head>

<body>

    <% if (json.project.production && !json.project.embedded) { %>
        <%= t.include("partials/_gtmNoScript.html") %>
            <% } %>
                <responsive-child>
                    <%= t.include("partials/_nav.html") %>
                        <header class="top">

                            <div id="intro">

                                <h1 id="mgtitle">Winter Guide 2019</h1>

                                <div class="chatter">
                                    <div class="byline-pubdate">
                                        <p class="byline">By Seattle Times staff</p>
                                        <p class="pub-date"></p>Published Nov. 17, 2019</p>
                                    </div>
                                    <p>The holiday season is here — and with it, an abundance of events and activities are coming to the Seattle area. Whether you want to shop for gifts at a holiday market, take the kids to see Santa or hum along to cheery
                                        holiday music, there’s no shortage of ways to have festive fun in the coming weeks. Use this guide to help decide where to go and what to do before, after or on the holidays. In case of cancellations or schedule
                                        changes, always check times and dates before you go.</p>
                                    <p style="font-style:italic; font-size:16px;">Correction: A previous version of this calendar listed the address for the Dec. 21 Northwest Firelight Chorale Concert as University Congregational Church, 4515 Sixth Ave. N.E. This post has been updated to reflect
                                        the correct address as University Congregational Church, 4515 Sixteenth Ave. N.E.</p>
                                </div>




                                <div>
                                    <div id="frames">
                                        <p class="graphic-hed">Choose a category</p>
                                        <img src="./assets/gallery-frames.jpg" />

                                    </div>

                                </div>



                                <div id="visitors">
                                    <img src="./assets/visitors.png">
                                </div>
                            </div>


                        </header>

                        <main>



                </responsive-child>

                <div class="credits">
                    Illustrations by Gabriel Campanario
                    <div>Design and Development by Miranda Hardy</div>
                    <div>Research by Yasmeen Wafai</div>
                    <div>Project editing by Emily Eng and Trevor Lenzmeier</div>
                </div>
                </main>

                <%= t.include("partials/_dontMiss.html", grunt.data.json) %>
                    <%= t.include("partials/_navBottom.html") %>

                        <script src="app.js" async></script>
                        <% if (json.project.production) { %>
                            <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
                                <%= t.include("partials/_workHere.html") %>
                                    <% } %>
</body>

</html>